* {
  margin: 0;
  padding: 0;
  --bg-color: rgb(48,48,48);
  --txt-color: rgb(255,255,255);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

header {
  background-color: var(--bg-color);
  color: var(--txt-color);
} 

header h1 {
  padding: 20px 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
}

#about-me {
  position: relative;
}

#about-me img{
  width: 500px;
  display: inline-block;
}

#about-me p{
  display: inline-block;
  border: 5px red solid;
  position: absolute;
}