* {
  margin: 0;
  padding: 0;
  --bg-color: rgb(48,48,48);
  --bg-color-2: rgb(155, 155, 155);
  --txt-color: rgb(255,255,255);
  --txt-color-2: rgb(0, 0, 0);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}

header {
  background-color: var(--bg-color);
  color: var(--txt-color);
  text-align: start;
} 

header h1 {
  padding: 20px 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
}

a{
  text-decoration: none;
  color: var(--txt-color-2);
}

#main-menu ul li a{
  color: var(--txt-color);
}

ul {
  list-style: none;
}

#main-menu ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#main-menu ul li a , #main-menu ul li {
  text-transform: uppercase;
  padding: 10px;
  transition: background 400ms;
}

#main-menu ul li a:hover {
  background: var(--bg-color-2);
  color: var(--txt-color-2);
}

#my-skills, #my-projects, #contact, .dinamic-paragraph {
  display: none;
}

footer {
  background-color: var(--bg-color);
  padding: 100px;
}

/*About Me*/

#about-me {
  display: flex;
  background: var(--bg-color-2) ;
  max-height: fit-content;
}

#slide ul li {
  height: 100px;
  width: 100px;
}

#slide ul li img {
  opacity: 75%;
  filter: grayscale(10);
  transition: 600ms;
}

#slide ul li img:hover {
  opacity: 100%;
  filter: grayscale(0);
  transform: scale(1.2);
}

#mypicture {
  left: 100px;
  width: 500px;
  display: inline-block;
}

#main-info {
  display: inline-block;
  max-height: 480px;
  left: 600px;
  text-align: justify;
  margin: 10px;
  overflow: auto;
}